@charset "ISO-8859-1";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),
		rgba(4, 9, 30, 0.7)),
		url(https://images.pexels.com/photos/6995252/pexels-photo-6995252.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 1% 5%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
}

.nav-links {
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 13px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

.nav-links ul li ::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li :hover::after {
	width: 100%;
}

.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1 {
	font-size: 62px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 18px;
	color: #fff;
}

.button-link {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-top: 20px; /* Add some margin to the top */
}

.button-link:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

.button:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

nav .fa-solid {
	display: none;
}

.signup-form form {
	background-color: rgba(255, 255, 255, 0.5);
	max-width: 400px;
	margin: auto;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.signup-form label {
	font-size: 18px;
	margin-bottom: 5px;
}

.signup-form input[type="text"], .signup-form input[type="email"],
	.signup-form input[type="tel"], .signup-form input[type="accBal"],
	.signup-form input[type="password"], .signup-form input[type="number"],
	.signup-form select {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.signup-form input[type="submit"] {
	padding: 10px;
	background-color: #f44336;
	color: #fff;
	border: none;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.signup-form input[type="submit"]:hover {
	background-color: #d32f2f;
}


.signup-form h1 {
	font-size: 30px;
	margin-bottom: 20px;
	color: #fff;
}

.signup-form p {
	font-size: 18px;
	margin-bottom: 10px;
	color: #fff;
}

.signup-form ul {
	margin-bottom: 20px;
	color: #fff;
}

.signup-form ul li {
	list-style: none;
	font-size: 18px;
	margin-bottom: 10px;
}

.signup-form form input[type="submit"] {
	padding: 10px;
	background-color: #f44336;
	color: #fff;
	border: none;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.signup-form form input[type="submit"]:hover {
	background-color: #d32f2f;
}
